---
title: Szilard Magyar
---

<div class="container-fluid" id="main-container">
  <div class="container-fluid" id="inner-container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="row project-intro-row">
          <div class="col-xs-12">
            <h3 class="projects">PROJECTS</h3>
            <div class="project-type">
              <h4><u>RAILS</u></h4>
              <p>I decided to pick up web development in 2015 to be able to implement my <u><%= link_to "app", "https://faskyn.com" %></u> that aimed to make the communication simple between products and corporations.</p> 
              <p>My choice of framework was Ruby on Rails because it's great to develop documentlike apps quickly and it's not that hard to learn thanks to the it's maturity and the huge community behind it.</p>

              <p>The full stack was the following: RoR, jQuery, SASS, Bootstrap, AJAX, Heroku, Postgres, Puma, AWS (S3 and Cloudfront), Redis, Sidekiq, Pusher, RSpec, Capybara.</p>

              <p>For a while now I have been working as a Ruby and RoR developer and have taken part in different monolith/only API rails and various ruby projects including:</p>

              <ul>
                <li><%= link_to "My SMS Group", "https://www.sms-group.com/" %> (ruby, sinatra API, rspec, capybara, docker)</li>
                <li><%= link_to "Sennheiser", "http://en-de.sennheiser.com/" %> (rails, rspec, capybara)</li>
                <li><%= link_to "Flickr image parser gem", "https://rubygems.org/gems/imagecollage" %> (ruby, rspec, Flickr API)</li>
              </ul>
            </div>

            <div class="project-type">
              <h4><u>MIDDLEMAN</u></h4>
              <p>Besides RoR I also use Middleman (for instance the site you are currently on and which is also on <u><%= link_to "GitHub", "https://github.com/RealSilo/szmagyar", target: "_blank" %></u>) which is an awesome easy-to-use framework for Rails developers to build static websites.</p>
            </div>
            <div class="project-type">
              <h4><u>REACT</u></h4>
              <p>I also enjoy playing around with react.js. I think it's way better to use react in Rails apps than spaghetti jQuery. Some small apps I built with react:</p>
              <ul>
                <li><%= link_to "BART schedule", "http://bartschedulesilo.herokuapp.com/", target: "_blank" %> (react, BART API, heroku, bootstrap), <%= link_to "GitHub", "https://github.com/RealSilo/TransportationApp", target: "_blank" %></li>
                <li><%= link_to "Todo app", "http://reacttodosilo.herokuapp.com/" %> (react, redux, firebase, heroku, foundations), <%= link_to "GitHub", "https://github.com/RealSilo/ReactTodoApp", target: "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row tool-row">
          <div class="col-xs-12">
            <h3 class="tools">TOOLS</h3>
            <div>
              <p>At the moment I'm using a 2015 MacBook Pro with iTerm, Sublime, OhMyZSH, HomeBrew and Chrome. My dotfiles are also available on <%= link_to "GitHub", "https://github.com/RealSilo/dotfiles", target: "_blank" %>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
